<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />   
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
            
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
            
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body{
                background-image: url(https://www.shutterstock.com/image-illustration/3d-render-doctor-cartoon-character-260nw-2011322708.jpg);
                background-size:cover;
                bottom:0;
            }
            .aboutUs{
                word-spacing:5px;
                letter-spacing:8px;
                color:#051d4a;
                font-family:'Segoe UI';
                font-weight:bold;
                text-align:right;
                margin-top:60px;
                margin-right:400px;
                font-size: 350%;
            }
            .quote{
                text-align:right;
                margin-top:10px;
                margin-right:280px;
                letter-spacing:2px;
            }
            .vision{
                padding-top:6px;
                text-align:center;
                height:200px;
                width:200px;
                background-color:#076d98;
                color:#262223;
            }
            .reasonable{
                padding-top:6px;
                text-align:center;
                height:200px;
                width:200px;
                background-color:#34abde;
                color:#262223;
            }
            .easy{
                padding-top:6px;
                text-align:center;
                height:200px;
                width:200px;
                background-color:#076d98;
                color:#262223;
            }
            .trust{
                padding-top:6px;
                text-align:center;
                height:200px;
                width:200px;
                background-color:#34abde;
                color:#262223;
            }
            #bottom{
                position:absolute;
                margin-bottom:250px;
                margin-right:30px;
                right:0;
                bottom: 0px;
            }
            .txt{
                color: azure;
            }
            .para{
                font-size:15px;
                padding-left:700px;
            }
            .checked{
                color:orange;
            }
            .stars{
                padding-top: 280px;
                margin-left:1000px;
            }
            .cp-text{
                 color: rgba(0,0,0,.7); text-shadow: 0 1px rgba(255, 255, 255, 0.1);
                 margin-right:200px;
            }
            .bt{
                padding-left: 1100px;
                width: 100px;
             }
        </style>
    </head>
    <body>
        <h1 class="aboutUs">ABOUT  US</h1>
        <h6 style="font-size:medium;" class="quote"><u>MEDIHOME <i>online medicine delivery app.</i></u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
        <br>
            <p class="para" >
            <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All our medicines undergo a three-step quality check process to ensure they are of high quality.</b>
           </p>
        <div class="stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star ">&nbsp;&nbsp;(4.1 out of <b >5</b> Ratings)</span>
            <p><b>&nbsp;&nbsp;Based on 1000+ reviews</b></p>
               
        </div>
        <div id="bottom" class="d-flex flex-row">
            <div class="vision">
                <p><b><u>VISION</u></b></p>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpeTrPw_WNDeQVo_14jxFEBLy4N3c3qtg6mw&usqp=CAU" height="50" width="50">
                <p class="txt">A community in which all people achieve fullPotential for health and well-being across the lifespan</p>
            </div>
            <div class="reasonable">
                <p><b><u>REASONABLE</u></b></p>

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKCA2rI_RGUaiiwUVV-q-e280QCs6Zj1R0l3pQgRp5hghM7Gk&s" heigh="50" width="50">
                <p class="txt">The Medicines are of Affordable Cost and The Best in Quality</p>
            </div>
            <div class="easy">
                <p><b><u>EASY TO SHOP</u></b></p>
                <img src="https://icon-library.com/images/shopping-bag-icon-png/shopping-bag-icon-png-18.jpg" height="50" width="50">
                <p class="txt">MediHome is a one-stop-shop for all yoyr healthcare needs
                    Delivery in 24-48 hours
                </p>
            </div>
            <div class="trust">
                <p><b><u>TRUST</u></b></p>
                <img src="https://static.vecteezy.com/system/resources/previews/007/558/387/original/premium-quality-achievement-badge-icon-certificate-sign-reward-badge-symbol-for-graphic-design-logo-website-social-media-mobile-app-ui-illustration-vector.jpg" height="50" width="50">
                <p class="txt">A highly capable team of experienced pharmacists and healthcare professionals
                </p>
            </div>
        </div>
        <br>
        <p class="cp-text" align="right">
            © Copyright 2022 MEDIHOME. All rights reserved.
        </p>
        <a href="/userMainPage" class="bt"><button class="btn btn-primary">Back to Home</button></a><br><br>

    </body>
</html>
